.buttons {
  width: 25vw;
  height: auto;
  padding: 1%;
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  overflow-x: auto;
  border-radius: 15px;
  box-shadow: 5px 5px 15px #4c4c4c;
  background-color: #1c255d;
}

.abas {
  border: none;
  border-radius: 5px;
  height: 50px;
  background: none;
  color: #fff;
}
.active {
  background:  #03061b;
  color: white;
}

.abas:hover {
  background-color: #03061b;
  color: white;
  
}

@media (max-width: 1024px) {
  .buttons {
    width: 40vw;
  }

  .abas {
    width: 35vw;
  }
}
